<div>
  <h1>NEW NOTE</h1>
  <h2>{{vm.note.title}}</h2>
</div>
<form method="post">
  <input type="text" data-ng-model="vm.note.title" placeholder="Title" value="{{vm.note.title}}"/>
  <div id="trumbowyg" data-ng-model="vm.note.content" placeholder="Note body">{{vm.note.content}}</div>

  <button data-ng-click="vm.create(note)">Save Changes</button>
</form>

<script>
  $('#trumbowyg').trumbowyg({
    btns: [
      ['viewHTML'],
      ['formatting'],
      'btnGrp-semantic',
      ['superscript', 'subscript'],
      ['link'],
      ['insertImage'],
      'btnGrp-justify',
      'btnGrp-lists',
      ['horizontalRule'],
      ['removeformat'],
      ['preformatted'],
      ['fullscreen']
    ]
  })
</script>
